@model Doc
@using DBModel.Models

@{
    ViewBag.Title = "Все файлы";
}

<div id="results">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Имя файла", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Дата создания", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Хозяин", "Index", new { sortOrder = ViewBag.OwnerSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th></th>
        </tr>
        @foreach (Doc item in ViewBag.SortedDocs)
        {
            string name;
            <tr>
                <td>
                    @if (item.Name.Length > 30)
                    {
                        name = item.Name.Substring(0, 29) + "...";
                    }
                    else { name = item.Name; }
                    @name
                </td>
                <td>@item.Date</td>
                <td>@item.Author</td>
                <td>@item.FileName</td>
                <td>
                    <a href="@Url.Action("Download", new { id = item.Id }) ">
                        <img src="~/Content/pics/folder_open.png" alt="Открыть" style="width:25px; height:25px" />
                    </a>
                    @*@Html.ActionLink("Загрузить", "Download", new { id = item.Id })*@
                </td>

            </tr>
        }
    </table>
</div>